*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
.header{
    padding: 39px 0; 
    background-color: #ffffff;
    width: 100%;
    height: 97px;
    position: sticky;
    display: flex;
    align-items: center;
    

}
.logo-container{
    width: 89px;
    height: 56px;
    padding-top: 6px;
    align-items: center;
    justify-content: center;
    
}
.logo-search{
    display: flex;
    background-color: #ffffff;
    width: 555px;
    height: 58px;
    padding-left: 30px;

}
.logo{
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}

.search{
    width: 357px;
    height: 58px;
    margin-left: 198px;
    background-color: #89928E;
    border-radius: 10px;
}
.callendar{
    width: 16px;
    height: 18px;
    margin-left: -30px;
}
.date-button{
    display: flex;   
    width: 419px;
    
    gap: 20px;
    padding-right: 30px;
   
      
}
.date{
    height: 58px;
    display: flex;
    gap: 10px;
    align-items: center;
   

}
.button{
    background-color: #B1CED4;
    width: 175px ;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header-elements{
    display: flex;
    justify-content: space-between;
    height: 58px;
    width: 100%;
}
.add-tag{
    height: 18px;
    width: 18px;
   
}
.food-card{
    width: 203px;
    height: 214px;
    border-radius: 18px;
    background-color: #e8f2f3;

}
.card-img{
    width: 100%;
    background-image: url(./assets/2666ca8744e1f1ed8cdbc415ffc87d8b9c0208c7.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    height: 143px;
   
    border: 1px #ECEDED;
    

    
}
.card-footer{
    width: 100%;
    height: 71px;
   
    padding: 10px;
    box-sizing: border-box;
}
.card-footer h3{
    text-align: center;
}
.card-content{
    padding: 15px 0;
    gap: 30px;
    display: flex;
}
.profile{
    width: 18px;
    height: 18px;
}
.food-menu{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3,auto;   
    gap: 20px;
}
